body {
    background: #FFFFFF;
    color: #000000;
    font-family: UberMoveText, system-ui, Helvetica, Arial, sans-serif;
}

.hero {
    background-image: url('images/ubereats.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    padding: 100px;
    text-align: center;

}

/*---------------------------------------
  Work section              
-----------------------------------------*/

.services  {
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.photo-container   {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto; 
    height: auto; 
}

.img-responsive {
    width: 100px; 
    height: 100px; 
}

