body {
    background: #FFFFFF;
    color: #000000;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero {
    background-image: url('images/ubereats.jpg');
    background-size: cover;

}

/*---------------------------------------
  Work section              
-----------------------------------------*/

.services  {
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.services .img-responsive {
  border-radius: 5px;
width: 300px; /* Set the desired width */
height: 200px; /* Set the desired height */
}

